pipeline/ImportSweetTreatsSales_Audit.json
{
	"name": "ImportSweetTreatsSales_Audit",
	"properties": {
		"activities": [
			{
				"name": "Import Sales Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "azure-data-factory-by-example-main.zip/azure-data-factory-by-example-main/SampleData/SweetTreats",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE dbo.Sales_LOAD",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ABS_CSV_SweetTreats",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ASQL_dboSalesLoad",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Log pipeline outcome",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Import Sales Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LogPipelineExecution]",
					"storedProcedureParameters": {
						"FilesRead": {
							"value": {
								"value": "@activity('Import sales data').output.filesRead",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('Import sales data').output.rowsCopied",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('Import sales data').output.rowsRead",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunEndDateTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "adfbyexampleazsql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup RunSeqNo",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[LogPipelineStart]",
						"storedProcedureParameters": {
							"Comments": {
								"type": "String",
								"value": null
							},
							"PipelineRunId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"RunStartDateTime": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ASQL_dboSalesLoad",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Log pipeline outcome_copy1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Log pipeline outcome",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LogPipelineEnd]",
					"storedProcedureParameters": {
						"FilesRead": {
							"value": {
								"value": "@activity('Import sales data').output.filesRead",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('Import sales data').output.rowsCopied",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('Import sales data').output.rowsRead",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunEndDateTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"RunSeqNo": {
							"value": {
								"value": "@int(variables('RunSeqNo')) ",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunStatus": {
							"value": "'Done'",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "adfbyexampleazsql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup RunSeqNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunSeqNo",
					"value": {
						"value": "@string(activity('Lookup RunSeqNo').output.firstRow.RunSeqNo)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"RunSeqNo": {
				"type": "String",
				"defaultValue": "-1"
			}
		},
		"folder": {
			"name": "Chapter4"
		},
		"annotations": [],
		"lastPublishTime": "2021-12-30T02:44:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}