pipeline/TestPipeLineToCheckNullData.json
{
	"name": "TestPipeLineToCheckNullData",
	"properties": {
		"description": "Import Json file",
		"activities": [
			{
				"name": "cp_ImportJsonFileInSQLSever",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup RunSeqNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "azure-data-factory-by-example-main.zip/azure-data-factory-by-example-main/SampleData/SugarCube",
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table  [dbo].[Sales_LOAD]",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['Month']"
								},
								"sink": {
									"name": "SalesMonth",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['Company']"
								},
								"sink": {
									"name": "Retailer",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Sales'][0]['Product']"
								},
								"sink": {
									"name": "Product",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Sales'][0]['ManufacturerProductCode']"
								},
								"sink": {
									"name": "ManufacturerProductCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Sales'][0]['Units']"
								},
								"sink": {
									"name": "UnitsSold",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['Sales'][0]['Value']"
								},
								"sink": {
									"name": "SalesValueUSD",
									"type": "Decimal"
								}
							}
						],
						"collectionReference": "$['Sales']"
					}
				},
				"inputs": [
					{
						"referenceName": "ABS_JSON_SugarCube",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ASQL_dboSalesLoad",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Log pipeline outcome_copy1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LogPipelineEnd]",
					"storedProcedureParameters": {
						"FilesRead": {
							"value": {
								"value": "@activity('cp_ImportJsonFileInSQLSever').output.filesRead",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('cp_ImportJsonFileInSQLSever').output.rowsCopied",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('cp_ImportJsonFileInSQLSever').output.rowsRead",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunEndDateTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"RunSeqNo": {
							"value": {
								"value": "@int(variables('RunSeqNo')) ",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunStatus": {
							"value": "'Done'",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "adfbyexampleazsql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "cp_ImportJsonFileInSQLSever",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunSeqNo",
					"value": {
						"value": "@string(activity('Lookup RunSeqNo').output.firstRow.RunSeqNo)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup RunSeqNo",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[LogPipelineStart]",
						"storedProcedureParameters": {
							"Comments": {
								"type": "String",
								"value": null
							},
							"PipelineRunId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"RunStartDateTime": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ASQL_dboSalesLoad",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"RunSeqNo": {
				"type": "String",
				"defaultValue": "-1"
			}
		},
		"folder": {
			"name": "Chapter6"
		},
		"annotations": [],
		"lastPublishTime": "2022-01-02T23:08:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}